.table-div{
    text-align: center;
    margin-left: 0px;
}

p{
    text-align: center;
    font-size:x-large;
    font-family: "Monokai";
}

.mySlides {
    display: none
  }
  img {
    vertical-align: middle;
    width: 1280px;
    height: 720px;
  }
  .slideshow-container {
    width: fit-content;
    height: 720px;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(129, 111, 111);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }

  .dropdown {
    margin: 20px;
  }
  
  .dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;
  }

/*slider*/

.bx-wrapper {
	margin-bottom: 20px;
  box-shadow: none;
  border: 5px solid #fff;
  background: none;
}
#pager {
	text-align: center;
	font-size: 90%;
	color: blue;
}

.sliderdiv {
  width: fit-content;
  height: 720px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}